body.darkmode {
  background: #242424;
  color: #ffffff;
}

body.darkmode #top {
  background: rgba(22, 22, 22, 0.95);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.363), 0 1px 2px rgba(0, 0, 0, 0.39);
}

body.darkmode #top-branding {
  color: #eeeeee;
}

body.darkmode #pagetitle {
  color: #eeeeee;
}

body.darkmode #nav li {
  color: #e0e0e0;
}

body.darkmode #nav li:hover {
  background: rgba(126, 126, 126, 0.1);
  color: #e0e0e0;
}

body.darkmode #nav li.currenttab {
  color: #e0e0e0;
}

body.darkmode .cmsappitem {
  background: #181818;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.363), 0 1px 2px rgba(0, 0, 0, 0.39);
}

body.darkmode .cmsappuuid {
  color: #949494;
}

body.darkmode h1,
body.darkmode h2,
body.darkmode h3,
body.darkmode h4,
body.darkmode h5 {
  color: #fff;
}

body.darkmode .raisedbut {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.363), 0 1px 2px rgba(0, 0, 0, 0.39);
}

body.darkmode .flatbut {
  color: #b4b4b4;
}

body.darkmode .flatbut:hover {
  background: #292929;
  color: #dadada;
}

body.darkmode .flatbut:focus {
  background: inherit;
}

body.darkmode #divcloak {
  background: #222222;
}

body.darkmode #modal {
  background: #161616;
}

body.darkmode #signin {
  background: #161616;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.363), 0 1px 2px rgba(0, 0, 0, 0.39);
}

body.darkmode select {
  color: #fff;
}

body.darkmode input {
  background: inherit;
  color: #fff;
}

body.darkmode .gentxtinp,
body.darkmode .datepicker input[type="text"],
body.darkmode .gendropinp {
  border-bottom: 2px solid #c7c7c7;
}

body.darkmode .gentxtinp ~ .floating-label,
body.darkmode .gendropinp ~ .floating-label {
  color: #d1d1d1;
}

body.darkmode .gentxtinp:focus ~ .floating-label,
body.darkmode .gendropinp:focus ~ .floating-label {
  color: #3c81c8;
}

body.darkmode .gentxtinp:focus,
body.darkmode .datepicker input[type="text"]:focus {
  border-bottom: 2px solid #3c81c8;
}

body.darkmode .gentxtinp:not(:focus):valid ~ .floating-label,
body.darkmode .gendropinp:not(:focus):valid ~ .floating-label {
  color: #d1d1d1;
}

body.darkmode .gencontainer {
  background: #181818;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.363), 0 1px 2px rgba(0, 0, 0, 0.39);
}

body.darkmode .secondaryitemcont {
  background: #181818;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.363), 0 1px 2px rgba(0, 0, 0, 0.39);
}

body.darkmode .changeimage {
  color: #ffffff;
}

body.darkmode .changeimage:hover {
  color: #3c81c8;
}

body.darkmode .coloredbar {
  background: #353535;
}

body.darkmode .softtext {
  color: #9c9c9c;
}

body.darkmode .greentext {
  color: #3ab956;
}

body.darkmode .yellowtext {
  color: #eab505;
}

body.darkmode .bluetext {
  color: #4c8fd5;
}

body.darkmode .redtext {
  color: #fd4845;
}

body.darkmode .redtext:hover {
  color: #fd4845;
}

body.darkmode textarea {
  background: inherit;
  color: #fff;
}

body.darkmode hr {
  border-top-color: #999999;
}

body.darkmode .miniheader {
  color: #539ad1;
}

body.darkmode a h2 {
  color: #539ad1;
}

body.darkmode option {
  color: #fff;
  background: #000;
}

body.darkmode .publishoptions {
  color: #fff;
  background: #181818;
  border: 1px solid #464646;
  box-shadow: 0 1px 3px rgba(119, 119, 119, 0.12),
    0 1px 2px rgba(119, 119, 119, 0.24);
}

body.darkmode .publishoptions ul li:hover {
  background: #2c2c2c;
}
